:root {
  --main-color1: linear-gradient(225deg, #90e0ef 0%, #ade8f4 100%);
  --main-color2: linear-gradient(to top, #182434 1%, #2b2b4e 100%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: #ed563b;
  box-shadow: 0px 0px 5px 0px black;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  align-items: center;
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--main-color2);
  z-index: -1;
  transform: skewY(-25deg);
  box-shadow: 0px 0px 20px 0px black;
  transform-origin: top left;
}
.title {
  color: white;
  line-height: 0rem;
  margin-left: -20rem;
  margin-top: -80px;
  font-size: 5rem;
}
.parent {
  background-image: var(--main-color2);
  width: 410px;
  height: 420px;
  transform: translate(180%, 20%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 20px;
  z-index: 20;
  box-shadow: 1px 1px 9px -2px black;
}
.aside {
  width: 660px;
  height: 440px;
  position: absolute;
  transform: translate(65%, 7%);
  background-color: #1d1d1b;
  background-image: url(image/Registerimage.jpeg);
  background-repeat: no-repeat;
  background-position-y: 33%;
  background-position-x: 10%;
  background-size: contain;
  border-radius: 20px;
  z-index: 10;
  box-shadow: 1px 1px 9px -2px #1d1d1b;
}
.parent li {
  list-style-type: none;
  margin: 30px 0px 0px 80px;
}
.parent li:nth-child(1) {
  margin-top: 40px;
}
.parent label {
  color: white;
  font-size: 17px;
  margin-top: 100px;
}
.parent input {
  flex-direction: column;
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  width: 80%;
  margin-top: 10px;
}
.parent button {
  padding: 20px 40px;
  border: none;
  background: none;
  border-radius: 40px;
  font-weight: 700;
  background-color: white;
  color: rgb(24, 24, 104);
  margin: 30px 0px 30px 80px;
  transition: 0.3s;
}
::-webkit-input-placeholder {
  color: rgb(78, 45, 45);
}
.anchor {
  font-size: 12px;
  padding-left: 10px;
  color: #ed563b;
  margin-top: 40px;
  text-decoration: none;
  transition: 0.3s;
}
.anchor:hover {
  color: white;
}
::-webkit-input-placeholder {
  color: rgba(97, 97, 97, 0.457);
}

@media screen and (min-width: 794px) and (max-width: 1078px) {
  .container::after {
    transform: skewY(-45deg);
  }
  .title {
    margin-left: -2rem;
  }
  .parent {
    transform: translate(90%, 30%);
  }
  .aside {
    transform: translate(10%, 7%);
  }
}
@media screen and (min-width: 590px) and (max-width: 789px) {
  .container::after {
    transform: skewY(-50deg);
  }
  .title {
    margin-left: 20rem;
  }
  .parent {
    transform: translate(35%, 30%);
  }
  .aside {
    display: none;
  }
}
@media screen and (min-width: 486px) and (max-width: 589px) {
  .container::after {
    transform: skewY(-60deg);
  }
  .title {
    margin-left: 20rem;
  }
  .parent {
    transform: translate(15%, 30%);
  }
  .aside {
    display: none;
  }
}
@media screen and (min-width: 362px) and (max-width: 486px) {
  .container::after {
    transform: skewY(-60deg);
  }
  .title {
    margin-left: 20rem;
  }
  .parent {
    width: 330px;
    height: 490px;
    transform: translate(15%, 30%);
  }
  .aside {
    display: none;
  }
  .parent button {
    padding: 20px 40px;
    width: 80%;
    display: block;
    border: none;
    background: none;
    border-radius: 40px;
    font-weight: 700;
    background-color: white;
    color: rgb(24, 24, 104);
    margin: 40px 0px 30px 40px;
    transition: 0.3s;
  }
  .parent label {
    margin-left: -40px;
  }
  .parent input {
    flex-direction: column;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
    margin-left: -40px;
    width: 100%;
    margin-top: 10px;
  }
  .anchor {
    font-size: 12px;
    padding-left: 50px;
    color: #ed563b;
    margin-top: 40px;
    text-decoration: none;
  }
}
@media screen and (min-width: 290px) and (max-width: 361px) {
  .container::after {
    transform: skewY(-70deg);
  }
  .title {
    margin-left: 20rem;
  }
  .parent {
    width: 260px;
    height: 490px;
    transform: translate(5%, 30%);
  }
  .aside {
    display: none;
  }
  .parent button {
    padding: 20px 40px;
    width: 90%;
    display: block;
    border: none;
    background: none;
    border-radius: 40px;
    font-weight: 700;
    background-color: white;
    color: rgb(24, 24, 104);
    margin: 40px 0px 20px 15px;
    transition: 0.3s;
  }
  .parent label {
    margin-left: -40px;
  }
  .parent input {
    flex-direction: column;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
    margin-left: -40px;
    width: 100%;
    margin-top: 10px;
  }
  .anchor {
    font-size: 12px;
    padding-left: 30px;
    color: #ed563b;
    margin-top: 40px;
    text-decoration: none;
  }
}
